*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Droid Sans", Arial, serif;
}

body {
  background-color: #1b8cd5;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  position: relative;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 60px;
  height: 80px;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.card.flip {
  transform: rotateY(180deg);
}

.card:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.front-face,
.back-face {
  position: absolute;
  background: #1b8cd5;
  backface-visibility: hidden;
  object-fit: cover;
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.front-face {
  transform: rotateY(180deg);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.selection-container {
  display: flex;
  align-items: center;
}

.selection-container p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.selection-container select {
  width: 70px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.selection-container select:hover {
  opacity: 0.8;
}

.grid-container img {
  width: 70px;
  height: 90px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

button:active {
  transform: scale(0.9);
  transition-duration: 0.5s;
  transition-delay: inherit;
}

button:hover {
  opacity: 0.8;
}
